$primary: rgb(56, 56, 56);
body,html{
    height: 100vh;
}
body{
    font-family: 'Montserrat';
    margin: 0;
    background: $primary;
    color: white;
}
.t{
    color: red;
    display: inline;
}
#main{
    width: 300px;
    height: 300px;
    border: 1px rgb(181, 181, 181) solid;
}
img{
    height: 20px;
    width: 20px;
}
.kol{
    display: none;
}